# Server Port (Render dynamically injects PORT)
PORT=8080

# Local Storage Directory
STORAGE_DIR=./data/uploads

# AI Service Keys
GEMINI_API_KEY=AIzaSyADjvknSiVO5hSfsevGj4noi5VKKVOu0H0
SARVAM_API_KEY=sk_xxivlmol_9VkYQj9XsD0vUjQDQYHfinYL
